@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1f1f;
  color: #e3e3e3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff1c;
  backdrop-filter: blur(2px);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.452);
}

::-webkit-resizer {
  display: none;
}


i {
  cursor: pointer;
}

.card {
  background-color: #e3e3e3;
}

/* ****** note writing area ****** */

.addNoteForm {
  background-image: url(../public/noteBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 45%;
  border-radius: 20px;
}

.addNoteForm textarea {
  background-color: #ffffff1c;
  border: none;
  transition: all 0.3s ease;
  color: #e3e3e3;
  font-size: 18px;
  width: 60%;
}

.addNoteForm textarea:focus {
  background-color: rgba(212, 212, 212, 0.212);
  color: #e3e3e3;
  box-shadow: none;
  backdrop-filter: blur(2px);
}

.addNoteForm h1 {
  font-size: 4rem;
}

/* ********** add submit btn in add note ********* */
.addSubmitBtn {
  background-color: #83ff738a;
  backdrop-filter: blur(3px);
  box-shadow: 0px 2px 5px #282235;
}

.addSubmitBtn:hover {
  background-color: #83ff73d5;
}

.addNoteForm .btn-primary {
  /* background-color: red; */
}

/* ******** SIDE NAV *********** */

ul.form {
  position: fixed;
  top: 0;
  left: 0;
  background: #292925;
  width: 90px;
  height: 100vh;
  padding: 0;
  list-style: none;
  overflow: hidden;
  z-index: 999;

  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}


.form li a {
  /* width:225px; */
  /* height:50px; */
  line-height: 20px;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #c4c7c5;
  margin: 30px 0;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.form li:first-child a:hover,
.form li:first-child a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.form li:last-child a:hover,
.form li:last-child a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.form li a:hover i {
  color: #fff;
  transform: scale(1.06);
}

.form li a:hover {
  color: #fff;
}

.form li.activeFormEle a {
  color: #fff;
  transform: scale(1.06);
  background: #383838;
}

.form i {
  padding: 5px;
  /* margin-right:15px; */
  font-size: 20px;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.form em {
  font-size: 10px;
  background: #ea4f35;
  padding: 3px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-style: normal;
  color: #fff;
  margin-top: 17px;
  margin-right: 15px;
  line-height: 10px;
  height: 10px;
  float: right;
}

/* ********* TOP NAVBAR ******** */
.navbar-brand {
  font-size: 30px;
  font-weight: 400;
  margin-right: 80px;
}

.nav-link {
  font-size: 18px;
}

.navbar .btn {
  font-size: 16px;
}


.m-l-r-t-b {
  margin-top: 8px;
  margin-right: -4px;
  margin-left: 85px;
}

/* ******* landing page ******* */
.landingPageHero {
  background-image: url(../public/noteBg2.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.landingPageHero .landingHeroText {
  text-align: center;
  color: #e3e3e3;
}

.landingPageHero .landingHeroText h1 {
  font-size: 5vw;
  font-weight: 600;
}


.landingPageHero .landingHeroText p {
  font-size: 22px;
  padding: 20px 80px;
}

.landingPageWrapper .exploreBtn {
  background-color: #e3e3e331;
  color: #383838;
  font-weight: 400;
  padding: 10px 30px;
  border: 1px solid #fff;
  backdrop-filter: blur(2px);
}

.landingPageWrapper .exploreBtn:hover {
  background-color: #e3e3e379;
  border: 1px solid transparent;
}

/* ***** about section ******** */
.landingPageWrapper .aboutSectionWrapper {
  background-image: url(../public/noteBg8.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 10px;
}

.landingPageWrapper .aboutSectionWrapper .aboutSection {
  text-align: center;
  color: #e3e3e3;
}

#about h1 {
  font-size: 4vw;

}

#about .card {
  background-color: #ffffff1e;
  backdrop-filter: blur(10px);
  color: #e3e3e3;
  height: 150px;
  border: none;
  border-radius: 10px;
}

.landingPageWrapper .testimonialsWrapper {
  background-image: url(../public/noteBg10.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.testimonialsWrapper .testimonials h1 {
  font-size: 4vw;
}

.testimonialsWrapper .testimonials .card {
  /* height: 150px; */
  text-align: left !important;
  background-color: #ffffff10;
  color: #e3e3e3;
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 30px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer a {
  text-decoration: none;
}

.footerContent {
  display: flex;
  justify-content: space-between;
}

.footerContent .footerLeft {
  max-width: 500px;
}

.footerContent .footerLeft {
  font-size: 17px;
}

.footerContent .footerRight {
  display: flex;
  gap: 100px;
  font-size: 17px;
  font-weight: 500;
  line-height: 40px;
  padding-right: 50px;
}

.footerRight ul li a {
  color: #a8c7fa;
}

.footer .footLine ul {
  display: flex;
  gap: 20px;
  padding: 50px 0;
}

.footer .footLine ul a {
  font-size: 17px;
  font-weight: 500;
  color: #e3e3e3;
}

/* ********** all Notes ************ */

/* .allNoteContainer{
  background-image: url(../public/noteBg8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 10px;
  margin-top: 10px !important;
} */

.allNoteContainer .yourNotesHeading {
  background-image: url(../public/noteBg8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 10px;
  height: 60vh;
  display: flex;
  align-items: center;
}

.allNoteContainer .yourNotesHeading h2 {
  font-size: 100px;
  font-weight: 600;
}


.allNoteCard {
  /* background-color: #2c2c2c6e; */
  /* background-image: linear-gradient(to top left, #160092b6, #81569bd7); */
  background-image: linear-gradient(to right bottom, #2b204b, #04264cd0),
    url(https://grainy-gradients.vercel.app/noise.svg);
  color: #e3e3e3;
  backdrop-filter: blur(3px);
  padding: 5px;
  border: 1px solid #e3e3e3;
  max-width: 400px !important;
  height: 300px;
  overflow: auto;
}



/* ********* login form ******* */
.login-form-container {
  background-image: url(../public/noteBg3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 10px;
  height: 87vh;
  display: flex;
  align-items: center;
  /* margin: 0 50px; */
}

.login-form-container input {
  background-color: #ffffff1c;
  border: 1px solid #fff;
  transition: all 0.5s ease;
  color: #e3e3e3;
  font-size: 18px;
  backdrop-filter: blur(2px);
}

.login-form-container input:focus {
  background-color: rgba(212, 212, 212, 0.212);
  color: #e3e3e3;
  backdrop-filter: blur(2px);
}

.transparentBtn {
  background-color: #c5c5c5d2;
  border: 1px solid #FFF;
  backdrop-filter: blur(5px);
}

.transparentBtn:hover,
.transparentBtn:focus {
  border: 1px solid #FFF;
  background-color: #66666644;
}

/* ********* sign up form ******** */
.signUp-form-container {
  background-image: url(../public/noteBg4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 10px;
  height: 87vh;
  display: flex;
  align-items: center;
}

.signUp-form-container label {
  color: #4f596b;
  font-weight: 500;
  font-size: 16px;
}

.signUp-form-container input {
  background-color: #abcae96c;
  border: 1px solid #fff;
  transition: all 0.5s ease;
  color: #e3e3e3;
  font-size: 18px;
  backdrop-filter: blur(2px);
}

.signUp-form-container input:focus {
  background-color: #7fb5eb88;
  color: #e3e3e3;
  backdrop-filter: blur(2px);
}

.signUp-form-container button {
  background-color: #d4436eb2;
  color: #e3e3e3;
}

.signUp-form-container button:hover,
.signUp-form-container button:focus {
  background-color: #7cb3399d;
  color: #383838;
}

/* ********* alert ******* */

.alertContainer {
  border-radius: 20px;
  position: absolute;
  width: 50vw;
  left: 25%;
  z-index: 999;
}

.signUpLoginFormHeading {
  font-size: 4rem;
  font-weight: 700;

}

.loginHead {
  background: -webkit-linear-gradient(#fff, #ffc9777e), url(https://grainy-gradients.vercel.app/noise.svg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signUpHead {
  background: -webkit-linear-gradient(#fc6c5c, #88cf24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: transparent; */
}

/* ********** edit note window / modal ************ */

.modal{
  backdrop-filter: blur(2px);
  transition: all 0.3s ease-in-out;
}

.modal-content{
  /* background-color: #383838; */
  background-image: linear-gradient(to bottom right, #5d006963,  #0a1361dc),
    url(https://grainy-gradients.vercel.app/noise.svg);
}

.modal-body form input{
  background-color: #ffffff63;
}

.modal-body form input:focus, .modal-body form input:hover{
  background-color: #ffdbdb75;
  backdrop-filter: blur(3px);
  box-shadow: none;
  color: #e3e3e3;
}